{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	{% block styles %}{% endblock %}

	<title>{% block title %}store{% endblock %}</title>

</head>
<body>

	<!-- SIDEBAR -->
	<section id="sidebar">
		{% if user.is_superuser %}
		<a href="{% url 'dashboard:super_dashboard' %}" class="brand"><i class='bx bxs-smile icon'></i>Overview</a>
		{% else %}

		<a href="{% url 'dashboard:manager_dashboard' %}" class="brand"><i class='bx bxs-smile icon'></i>Admin</a>
		{% endif %}
		<ul class="side-menu">
			<li><a href="{% url 'dashboard:manager_dashboard' %}" class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Main</li>
			<li>
			<li>
    <a href="#"><i class='bx bx-box icon'></i> Products <i class='bx bx-chevron-right icon-right'></i></a>
    <ul class="side-dropdown">
        <li class="ajax-link">
            <a href="{% url 'inventory:list_products' %}" data-url="{% url 'inventory:product_list' %}">
                <i class='bx bx-list-ul'></i> Product List
            </a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class='bx bx-category icon'></i> Categories <i class='bx bx-chevron-right icon-right'></i></a>
        <ul class="side-dropdown">
            <li class="ajax-link">
                <a href="{% url 'inventory:sub_add' %}" data-url="{% url 'inventory:sub_add' %}">
                    <i class='bx bx-plus-circle'></i> Add MainCategory
                </a>
            </li>
            <li class="ajax-link">
                <a href="{% url 'inventory:main_category_list' %}" data-url="{% url 'inventory:main_category_list' %}">
                    <i class='bx bx-folder'></i> MainCategory List
                </a>
            </li>
            <li class="ajax-link">
                <a href="{% url 'inventory:sub_add' %}" data-url="{% url 'inventory:sub_add' %}">
                    <i class='bx bx-plus-circle'></i> Add SubCategory
                </a>
            </li>
            <li class="ajax-link">
                <a href="{% url 'inventory:sub_list' %}" data-url="{% url 'inventory:sub_list' %}">
                    <i class='bx bx-folder-open'></i> SubCategory List
                </a>
            </li>
        </ul>
    </li>




			<li>
				<li>
    <a href="#"><i class='bx bx-category icon'></i> Menu Categories <i class='bx bx-chevron-right icon-right'></i></a>
    <ul class="side-dropdown">
        <li><a href="{% url 'cart:menu_category_create' %}"><i class='bx bx-plus-circle'></i> Add MenuCategory</a></li>
        <li><a href="{% url 'cart:menu_category_list' %}"><i class='bx bx-list-ul'></i> MenuCategory List</a></li>
    </ul>
</li>

<li>
    <a href="#"><i class='bx bx-food-menu icon'></i> Menu <i class='bx bx-chevron-right icon-right'></i></a>
    <ul class="side-dropdown">
        <li><a href="{% url 'cart:menuitem-create' %}"><i class='bx bx-plus-circle'></i> Add Menu</a></li>
        <li><a href="{% url 'cart:list_menu' %}"><i class='bx bx-list-ul'></i> Menu List</a></li>
    </ul>
</li>

<li>
    <a href="#"><i class='bx bx-bed icon'></i> Rooms <i class='bx bx-chevron-right icon-right'></i></a>
    <ul class="side-dropdown">
        <li><a href="{% url 'rooms:room-add' %}"><i class='bx bx-plus-circle'></i> Add Room</a></li>
        <li><a href="{% url 'rooms:rooms-list' %}"><i class='bx bx-list-check'></i> Rooms List</a></li>
        <li><a href="{% url 'rooms:feature-add' %}"><i class='bx bx-star'></i> Add Feature</a></li>
        <li><a href="{% url 'rooms:feature-list' %}"><i class='bx bx-list-ul'></i> Feature List</a></li>
        <li><a href="{% url 'rooms:paid_payments_list' %}"><i class='bx bx-money'></i> Paid List</a></li>
        <li><a href="{% url 'rooms:payment_summary' %}"><i class='bx bx-receipt'></i> Payment Summary</a></li>
    </ul>
</li>

		<li>
    <a href="#"><i class='bx bx-transfer icon'></i> Transactions <i class='bx bx-chevron-right icon-right'></i></a>
    <ul class="side-dropdown">
        <li class="ajax-link">
            <a href="{% url 'cart:completed-orders' %}" data-url="{% url 'cart:completed-orders' %}">
                <i class='bx bx-list-check'></i> All Transactions
            </a>
        </li>
        <li class="ajax-link">
            <a href="{% url 'cart:deleted_orders' %}" data-url="{% url 'cart:deleted_orders' %}">
                <i class='bx bx-trash'></i> Deleted Transactions
            </a>
        </li>
        <li>
            <a href="#"><i class='bx bx-time'></i> Recent Transactions</a>
        </li>
    </ul>
</li>
</ul>

<div class="ads">
    {% if user.is_superuser %}
        <a href="{% url 'dashboard:super_dashboard' %}" class="btn-upgrade">Home</a>
    {% else %}
        <a href="{% url 'logout' %}" class="btn-upgrade">Logout</a>
    {% endif %}
</div>

	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->

		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			{% block content %}

      		{% endblock %}
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{% static 'dashboard/script.js' %}"></script>
 <script>
        $(document).ready(function () {
            // Apply text-decoration: none to all anchor tags
            $("a").css("text-decoration", "none");
        });
	 $(document).ready(function() {
        // Detect clicks on <li> elements
        $(".sidebar li").on("click", function() {
            // Check if the screen width is for mobile devices
            if (window.innerWidth <= 768) {
                // Close the sidebar
                $(".sidebar").removeClass("open");
            }
        });
    });
    </script>





</body>
</html>