{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'dashboard/css/try.css' %}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		{% block styles %}{% endblock %}
	<title>{% block title %}Store Hub{% endblock %}</title>

</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar">
    <a href="{% url 'dashboard:store_dashboard' %}" class="brand">
        <i class='bx bxs-home'></i>
        <span class="text">Store Hub</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="{% url 'dashboard:store_dashboard' %}">
                <i class='bx bxs-home'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'inventory:product_list' %}">
                <i class='bx bxs-box'></i>
                <span class="text">Product List</span>
            </a>
        </li>
        <li>
            <a href="{% url 'inventory:product_add' %}">
                <i class='bx bxs-plus-square'></i>
                <span class="text">Add Products</span>
            </a>
        </li>
        <li>
            <a href="{% url 'inventory:sub_category_list' %}">
                <i class='bx bxs-category'></i>
                <span class="text">SubCategory List</span>
            </a>
        </li>
        <li>
            <a href="{% url 'inventory:taxcategory-list' %}">
                <i class='bx bxs-receipt'></i>
                <span class="text">Tax Type</span>
            </a>
        </li>
        <li>
            <a href="{% url 'inventory:taxcategory-create' %}">
                <i class='bx bxs-file-plus'></i>
                <span class="text">Add Tax Type</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'logout' %}" class="logout-link">
                <i class='bx bxs-exit'></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>

	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">

		<!-- NAVBAR -->

		<!-- MAIN CONTENT -->
		<main class="flex-grow bg-white p-6 rounded-lg shadow-md">
			<div class="container mx-auto">
				{% block content %}
				<!-- New page content can be added here -->
				{% endblock %}
			</div>
		</main>
		<!-- MAIN CONTENT -->

		<!-- TOAST MESSAGE -->

	</section>
	<!-- CONTENT -->

	<script src="{% static 'dashboard/scripts.js' %}"></script>
<script>
        $(document).ready(function () {
            // Apply text-decoration: none to all anchor tags
            $("a").css("text-decoration", "none");
        });
    </script>
</body>
</html>